html, body{
	height: 100%;
}

body{
	background: $body-bg;
	background-image: url('../resources/bg-planete.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.page-container{
	height: 100%;
	@include display-flex;
	@include align-items(center);
	@include justify-content(center);
	@include flex-direction(column);
	.punchLine{
		width:900px;
		margin-bottom: 50px;
		h1{
			position: relative;
			font-size: 98px;
			line-height: 100px;
			font-family: "Orange";
			font-weight: bold;
			margin:0;
		}
		h3{
			position: relative;
			font-size: 70px;
			line-height: 100px;
			font-family: "Orange";
			font-weight: normal;
			color: $brand-orange;
			margin:0;
		}
		h6{
			position: relative;
			font-size: 24px;
			line-height: 50px;
			margin:0;
			&:before{
				content: '';
				position: absolute;
				width:35%;
				height: 1px;
				top:24px;
				left: 0;
				background: $brand-orange;
			}
			&:after{
				content: '';
				position: absolute;
				width:35%;
				height: 1px;
				top:24px;
				right: 0;
				background: $brand-orange;
			}
		}
	}
}